<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>Appointments</title>
</head>

<body>
<div layout:fragment="main">

    <h3>Appointments</h3>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Department</th>
            <th>Day</th>
            <th>Start</th>
            <th>End</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${appointments}">
            <td th:text="${a.departmentService.serviceName}"></td>
            <td th:text="${a.dayOfWeek}"></td>
            <td th:text="${a.startTime}"></td>
            <td th:text="${a.endTime}"></td>
        </tr>
        </tbody>
    </table>

    <div class="mt-3">
        <a th:href="@{/home}" class="btn btn-secondary">Back to Home</a>
    </div>

</div>
</body>
</html>
