<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}"
        lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>

<body>

<header layout:fragment="header">
  <h1>Ergasia Platform</h1>
  <h3 class="text-muted">Digital submission & management of citizen requests</h3>
</header>

<main layout:fragment="main">

  <div class="text-center mt-4">
    <a th:href="@{/login}" class="btn btn-primary me-2">Log in</a>
    <a th:href="@{/register}" class="btn btn-outline-secondary">Register</a>
  </div>

</main>

</body>
</html>
