<!DOCTYPE html>
<html lang="el"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Oi Aitiseis Mou</title>
</head>
<body>
<div layout:fragment="main" class="container mt-5">

    <h2>Oi Aitiseis Mou</h2>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Typos</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Drastiriotites</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="app : ${applications}">
            <td th:text="${app.id}"></td>
            <td th:text="${app.type}"></td>
            <td th:text="${app.status}"></td>
            <td th:text="${app.createdAt}"></td>
            <td>
                <a th:href="@{'/applications/' + ${app.id}}" class="btn btn-primary btn-sm">Provoli</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
